*,
*::after,
*::before{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(0, 0, 0);   
  background-color: rgb(232, 232, 232);
  height: 100vh;
  width:fit-content;
}
header{
  background: rgb(97, 94, 94);
  padding: 20px; 
  width: 100%; 
  position: fixed;
  top:0px;
  }

.logo{   
 text-decoration: none;
 color: antiquewhite;
 letter-spacing: 10px;
 font-size: 30px;
 }
 .logo-nav{
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*Flex box (en vez de usar float), con space between los elementos flex se van hacia los costados*/
    }
    .menu ul{
      margin:0;
      padding:0;
      list-style: none;
      }
      .menu ul li{
         display:inline-block;
           /*Los elementos de la lista se veran uno al lado del otro*/
      }
      .menu a{
       text-decoration: none;
       color: antiquewhite;
       padding: 10px;
       display: block;
       }
      .menu a:hover{
          background-color: rgb(203, 164, 239);
          border-radius: 10px;
      }
.contenedor-principal{
        display: flex;
        flex:1  1;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
      }
.formulario{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
  background-color: white;
  border-radius: 6px;
  border:2px solid rgb(59, 57, 57);
  padding:4px 60px;
  box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75) ;
  margin-left: 200px;
}
.contenedor-inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding:60px;
}
.laptop{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.laptop img{
  width: 400px;
  height: 400px;
  margin-bottom:60px ;
}

.laptop h2{
  position: absolute;
   top: 380px;
  font-family:lato, sans-serif;
  font-size:1.6rem;
  margin-right:200px;
}
.laptop h3 {
  position: absolute;
  margin-left: 200px;
  top:380px;
  color:rgb(71, 71, 153);
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
}
.laptop p{
  position: absolute;
  color:rgb(90, 88, 88);
  top:420px;
  margin-left:30px;
} 
 .pago h1{
color: rgb(43, 9, 136);
text-align: center;
margin-right: 400px;
}
#tarjeta img{
  max-height: 40px;
  max-width: 40px;
  float:inherit;
}
.card{
display:flex;
align-items: center;
justify-content: center;
margin-right: 400px;
}
.contenedor-inputs{
  padding: 6px;
  width: auto;
  margin:40px;
}
input{
  appearance: none;
  border: none;
  border-radius: 15px;
  border-bottom: 2px  solid rgb(162, 159, 159);
  padding: 6px;
  margin: 6px;
  background-color: rgb(235, 228, 242);
  }

.boton button{
padding: 6px;
font-weight: bold;
 margin-left: 60px;
 margin-top: 10px;
 margin-bottom: 10px;
 font-size: 20px;
color:rgb(245, 245, 220);
width:10rem;
border-radius: 15px;
border:none;
cursor: pointer;
background-image: linear-gradient(to left, rgb(63, 154, 103) 50%, rgb(240, 162, 51) 50%);
background-repeat: no-repeat;
background-size: 200%;
background-position: right;
transition:background-position .4s  ease;
   }  
.boton button:hover{
    background-position: left;
    color:black;
   }

  footer{
position: fixed;
background: rgb(97, 94, 94);
color: antiquewhite;
text-align: right;
width:100%;
bottom:0px;
padding:8px;
}